:root {
  --ifm-color-primary: #5b8def;
  --ifm-color-primary-dark: #4278e4;
  --ifm-color-primary-darker: #356bce;
  --ifm-color-primary-darkest: #2a56a8;
  --ifm-color-primary-light: #7aa3f3;
  --ifm-color-primary-lighter: #8fb0f5;
  --ifm-color-primary-lightest: #b3c8f9;
}